<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/main/resources/css/style.css">
</head>
<body>

<nav class="navbar">
    <script src="/src/main/resources/js/script.js"></script>
</nav>

<table border="1">
    <tr>
        <th>Date</th>
        <th>Time</th>
    </tr>
    <tr th:each="ticket : ${model.getTimes()}">
            <td th:text="${ticket.Date}"></td>
            <td th:text="${ticket.Time}"></td>
    </tr>
</table>
</body>
</html>

