<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>Booking Page</label>

<form  th:object="${model}" th:action="@{/booking/ticket}">
    <td th:text="${model.countryFrom}"></td>
    <td th:text="${model.cityFrom}"></td>

    <td th:text="${model.country_to}"></td>
    <td th:text="${model.city_to}"></td>
    <br>
    <td th:text="${model.dateBookingTicket}"></td>
    <td th:text="${model.timeFrom}"></td>

    <td th:text="${model.time_in}"></td>
    <td th:text="${model.price}"></td>
    <td th:text="${model.currency}"></td>

    <br>

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <td th:field="*{userDTO.fullName}" th:text="${model.getUserDTO().fullName}"></td>

    <td th:text="${model.userDTO.email}"></td>

</form>
</body>
</html>