<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>TICKET PAGE</label>

    <th:block  th:each="items, state : ${model.getTimeFrom()}" >

     <form th:object="${model}" th:action="@{'/catalog/tickets?id_ticket=' + ${model.id} +'&date_ticket=' + ${items}}" th:method="POST">

         <td th:field="*{id}" th:text="${model.id}" >
         <br>
        <td th:field="*{timeFrom}" th:text="${items}" name="${items}"></td>

         <input type="submit">
    </form>
    </th:block>


</body>
</html>